<section>
    <h3 class="table-title">Customer</h3>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{customer?.name!}}</td>
                <td>{{customer?.email!}}</td>
                <td>{{customer?.age!}}</td>
                <td>{{customer?.id!}}</td>
            </tr>    
        </tbody>
    </table>

    <section>
        <h3 class="table-title">Accounts</h3>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Currency</th>
                <th>Balance</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of customer?.accounts">
                <td>{{account.id}}</td>
                <td>{{account.number}}</td>
                <td>{{account.currency}}</td>
                <td>{{account.balance | number : '.2-2'}}</td>
                <td><app-button></app-button></td>
            </tr>    
        </tbody>
    </table>
    </div>
    </section>

</div>
</section>
