<section>
    <h3 class="table-title">Customer</h3>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Id</th>
                <th>Accounts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{customer?.name!}}</td>
                <td>{{customer?.email!}}</td>
                <td>{{customer?.age!}}</td>
                <td>{{customer?.id!}}</td>
                <td>{{customer?.accounts!}}</td>
                <app-button></app-button>
            </tr>    
        </tbody>
    </table>
</div>
</section>
